:root {
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-25: 25px;
  --font-size-30: 30px;
  --font-size-35: 35px;
  --font-size-40: 40px;
  --font-size-50: 50px;
  --font-size-60: 60px;
  --font-size-100: 100px;
}
@media (max-width: 768px) {
  :root {
    --font-size-50: 30px;
  }
}
body {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-18);
  line-height: 130%;
  color: #424242;
  background-color: white;
}
section {
  padding-bottom: 90px;
}
h2 {
  font-weight: 500;
  font-size: var(--font-size-40);
  line-height: 105%;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  section {
    padding-bottom: 50px;
  }
  .row h2 {
    font-size: var(--font-size-25);
    margin-bottom: 20px;
  }
  .header {
    margin-bottom: 25px;
  }
}
button,
a,
.btn {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  padding: 0;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: unset;
}
.list-reset {
  list-style: none;
}
.adress,
.phone-number__link,
.email__link,
.clock-work,
.phone-number,
.phone {
  font-weight: 400;
  font-size: var(--font-size-16);
  line-height: 105%;
  color: #424242;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left;
}
.mail-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.adress {
  background-image: url(assets/img/svg/icon_geo.svg);
}
.clock-work {
  max-width: 199px;
  background-image: url(assets/img/svg/icon_clock.svg);
}
.phone-number,
.phone-number__link {
  background-image: url(assets/img/svg/icon_phone-number.svg);
}
.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(assets/img/svg/icon_phone.svg);
}
.email,
.email__link {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left;
  background-image: url(assets/img/svg/icon_mail.svg);
}
.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6px 0;
  border-bottom: 1px solid #d9d9d9;
}
.top-header > :not(:nth-last-child(2)) {
  margin-right: 53px;
}
.top-header__logo.logo {
  margin-right: auto;
}
.adress__text {
  max-width: 300px;
  font-style: normal;
  display: inline-block;
}
.clock-work__text {
  width: 100%;
}
.burger {
  background-color: transparent;
  border: none;
  height: 0;
  width: 0;
  display: none;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0 20px 0;
  list-style: none;
  margin: 0;
}
.menu-item {
  margin-bottom: 20px;
}
.menu > :not(:last-child) {
  margin-right: 32px;
}
.menu a {
  font-weight: 400;
  line-height: 105%;
  font-size: var(--font-size-16);
}
.current-menu-item {
  background-image: url(assets/img/svg/Line.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.header-nav {
  text-align: center;
}
.header-nav .adress,
.header-nav .clock-work,
.header-nav .mail-tel {
  display: none;
}
.custom-logo {
  width: 80px;
  height: 80px;
}
@media (max-width: 768px) {
  .current-menu-item {
    background: none;
  }
  .custom-logo {
    width: 36px;
    height: 36px;
  }
  .footer .custom-logo {
    width: 65px;
    height: 65px;
  }
  .top-header .burger {
    margin-right: 0;
    display: block;
    background: #fff;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    width: 33px;
    height: 33px;
    border: none;
  }
  .burger::before {
    content: "\2261";
    font-size: 30px;
    line-height: 30px;
    color: #e93d2c;
  }
  .menu {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .menu-glavnoe-menyu-container,
  .menu {
    position: fixed;
  }
  .adress,
  .mail-tel,
  .clock-work,
  .phone-number,
  .email {
    display: none;
  }
  .burger-open .header-nav .clock-work,
  .burger-open .header-nav .adress,
  .burger-open .header-nav .mail-tel,
  .burger-open .header-nav .phone-number__link,
  .burger-open .header-nav .email__link {
    display: block;
    margin: 0 auto 15px auto;
    padding-top: 18px;
    background-position: center top;
  }
  .burger-open .header-nav .adress {
    margin-top: 30px;
  }
  .burger-open .header-nav .mail-tel {
    margin-bottom: 30px;
  }
  .top-header > :not(:last-child) {
    margin-right: auto;
  }
  .header.burger-open .menu {
    display: block;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 0;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }
  .header.burger-open .menu-glavnoe-menyu-container {
    position: relative;
  }
  .header.burger-open .menu-item {
    margin: 0 0 15px 0;
  }
  .header.burger-open .top-header {
    border: none;
  }
  .header.burger-open .header-nav__hidden-list {
    display: block;
  }
}
.header-nav__hidden-list {
  display: none;
  text-align: center;
  padding: 15px 0;
}
.header-nav__hidden-item {
  display: block;
  background-position: center top;
  margin-bottom: 15px;
  padding-top: 15px;
}
.hero-contain {
  position: relative;
}
.hero__content {
  position: absolute;
  top: calc(50% - 250px);
  left: 73px;
}
.hero__promo-bg {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.hero__promo-bg img {
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
  width: auto;
  height: 100%;
  background: border-box;
}
@media (max-width: 768px) {
  .hero__promo-bg {
    overflow: unset;
  }
  .hero__promo-bg img {
    width: 100%;
    height: auto;
  }
  .hero__content {
    position: absolute;
    top: calc(50% - 250px);
    left: 0;
  }
}
.hero__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 105%;
  margin-bottom: 40px;
}
.hero__description {
  font-weight: 400;
  font-size: var(--font-size-18);
  line-height: 130%;
  margin-bottom: 30px;
}
.hero__btn {
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  text-align: center;
  color: #fff;
  background: #e93d2c;
  -webkit-box-shadow: 0 4px 4px rgba(233, 61, 44, 0.2);
  box-shadow: 0 4px 4px rgba(233, 61, 44, 0.2);
  border-radius: 10px;
  padding: 17px 69px;
  display: inline-block;
}
.hero__btn:hover,
.page-404__link-btn:hover,
.stap-partner__btn:hover {
  background-color: rgb(255, 0, 0);
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
a:hover {
  color: rgb(255, 0, 0);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: underline;
}
.btn_hover:hover {
  color: white;
  text-decoration: none;
}
@media (max-width: 768px) {
  .hero__content {
    position: inherit;
  }
  .hero__title {
    font-size: var(--font-size-30);
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .hero__description {
    font-size: var(--font-size-16);
    margin-bottom: 20px;
  }
  .hero__btn {
    padding: 17px 55px;
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .hero__btn {
    display: block;
  }
}
.section-btn-link,
.btn-link {
  font-weight: 500;
  font-size: var(--font-size-16);
  line-height: 130%;
  color: #e93d2c;
}
.section-btn-link {
  text-align: end;
  font-size: var(--font-size-20);
  display: inline-block;
  margin-bottom: 20px;
}
.popular-goods__wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}
.card-product {
  min-width: 270px;
  max-width: 270px;
  width: 23%;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.card-product:hover,
.card-articles:hover,
.card-certificat:hover,
.gallery__item:hover {
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.card-product__content {
  padding: 20px;
}
.card-product__title {
  display: block;
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  margin-bottom: 10px;
}
.card-product__img {
  min-height: 184px;
  height: auto;
  background-size: contain;
  border-radius: 10px 10px 0 0;
}
.card-product__description {
  display: block;
  margin-bottom: 10px;
}
.our-production__wrapper-text {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .our-production__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
[class*="copyrights-pane"] {
  display: none;
}
.office-map {
  overflow: hidden;
}
.maps {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.maps-info {
  display: none;
  position: absolute;
  z-index: 10;
  right: 72px;
  top: 46px;
  background-color: #fff;
  width: 308px;
  height: 279px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 30px;
  overflow-y: scroll;
}
.maps-info__title {
  display: inline-block;
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  margin-bottom: 10px;
}
.maps-info__search {
  padding: 10px;
  width: 100%;
  height: 39px;
  border: 1px solid #d0d0d0;
  display: block;
  margin-bottom: 18px;
}
.maps-info__btn {
  position: absolute;
  right: 30px;
  background-image: url(assets/img/svg/icon_search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  padding: 20px;
  border: none;
  background-color: transparent;
}
.search-result__address {
  font-weight: 400;
  font-size: var(--font-size-14);
  line-height: 130%;
  margin-top: 10px;
  margin-bottom: 6px;
}
.search-result__clock {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  margin-bottom: 7px;
}
.search-result {
  border-bottom: 1px solid #d0d0d0;
}
.product-video {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.our-production__wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.product-video img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.product-video__title {
  position: absolute;
  top: calc(50% - 26px);
  left: 37px;
  width: 36%;
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  color: #fff;
}
@media (max-width: 1024px) {
  .product-video__title {
    width: 30%;
  }
}
.product-video__play {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  background-color: #e93d2c;
  border-radius: 50%;
  border: 1px solid #fff;
}
.product-video__play::before {
  content: url(assets/img/svg/icon_play.svg);
  width: 37px;
  height: 33px;
  position: absolute;
  left: calc(50% - 13px);
  top: calc(50% - 22px);
}
@media (max-width: 768px) {
  .product-video__title {
    text-align: center;
    top: calc(25% - 26px);
    left: calc(50% - 100px);
    width: 225px;
    font-size: var(--font-size-18);
  }
  .product-video__play {
    left: calc(50% - 23px);
    top: calc(50% - 23px);
    width: 56px;
    height: 56px;
  }
  .product-video__play::before {
    content: url(assets/img/svg/icon_play.svg);
    width: 25px;
    height: 23px;
    left: calc(50% - 9px);
    top: calc(50% - 15px);
  }
}
.card-articles {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  max-width: 380px;
}
.card-articles--big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 790px;
}
.card-articles--big .card-articles__img {
  height: 100%;
  min-width: fit-content;
}
.card-articles__wrap {
  padding: 40px 40px 40px 30px;
}
.card-articles__body {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.card-articles--big .card-articles__body {
  height: 100px;
  visibility: visible;
  overflow: hidden;
}
.popup.activ .card-articles__body {
  height: auto;
  visibility: visible;
  overflow: hidden;
}
.popup.activ .card-articles__btn-link {
  display: none;
}
.articles-and-news__wrapper {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .card-articles--big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.card-articles__img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-size: contain;
}
.card-articles__tag,
.card-articles__date {
  font-weight: 400;
  font-size: var(--font-size-16);
  line-height: 130%;
  color: #d0d0d0;
}
.card-articles__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 11px;
}
.articles-and-news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 30px;
}
.card-articles__wrap {
  padding: 20px;
}
.card-articles__title {
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  color: #424242;
  display: block;
  margin-bottom: 11px;
}
.footer__wrapper {
  border-top: 1px solid #d9d9d9;
  padding: 30px 0 50px 0;
}
.catalog-footer__title,
.legal-footer__title,
.contact-footer__title {
  font-weight: 500;
  font-size: var(--font-size-14);
  line-height: 105%;
  color: #424242;
  margin-bottom: 15px;
}
.catalog-footer__link,
.legal-footer__link,
.contact-footer__link,
.contact-footer__addres {
  font-weight: 400;
  font-size: var(--font-size-14);
  font-style: normal;
  line-height: 105%;
  color: #424242;
  margin-bottom: 10px;
}
.container {
  max-width: 1224px !important;
}
.about-company__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 120%;
  max-width: 850px;
}
.about-company__title--important {
  color: #e93d2c;
}
.about-company__text {
  margin-bottom: 40px;
}
.about-company__img,
.about-company__big-img {
  border-radius: 10px;
  background-size: contain;
}
.about-company__big-img {
  margin-bottom: 40px;
}
.about-company__img {
  float: right;
  max-width: 512px;
  max-height: 280px;
  margin: 0 0 52px 73px;
}
.about-company__text {
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  color: #424242;
}
.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 30px;
  margin-bottom: 30px;
}
.advantage__item {
  max-width: 272px;
  font-weight: 400;
  font-size: var(--font-size-20);
  line-height: 130%;
  margin-bottom: 30px;
  color: #424242;
  width: 275px;
  padding: 18px;
  padding-top: 53px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-position: left 18px top 18px;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
.advantage__item--icon-equipment {
  background-image: url(assets/img/svg/icon-equipment.svg);
}
.advantage__item--icon-homemade-recipes {
  background-image: url(assets/img/svg/icon-homemade-recipes.svg);
}
.advantage__item--icon-label-products {
  background-image: url(assets/img/svg/icon-label-products.svg);
}
.advantage__item--icon-like {
  background-image: url(assets/img/svg/icon-like.svg);
}
.advantage__item--icon-prices {
  background-image: url(assets/img/svg/icon-prices.svg);
}
.advantage__item--icon-production {
  background-image: url(assets/img/svg/icon-production.svg);
}
.advantage__item--icon-security-shield {
  background-image: url(assets/img/svg/icon-security-shield.svg);
}
.advantage__item--icon-selected-meat {
  background-image: url(assets/img/svg/icon-selected-meat.svg);
}
.gallery {
  margin-bottom: 30px;
}
.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
.gallery__item {
  max-width: 380px;
}
.gallery__img {
  cursor: pointer;
}
.gallery__img--activ {
  width: 90%;
  position: absolute;
  top: 0;
  z-index: 100;
  right: 0;
}
.catalog {
  margin-bottom: 40px;
  padding: 0;
}
.catalog__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 120%;
  color: #424242;
  max-width: 850px;
  margin-bottom: 20px;
}
.tag__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.tag__link {
  font-weight: 400;
  font-size: var(--font-size-16);
  line-height: 127%;
  color: #c4c4c4;
}
.pelmeni__wrapper,
.ground-meat__wrapper,
.vareniki__wrapper,
.khinkali__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 20px;
}
.bread-crumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.bread-crumbs__item {
  margin-right: 7px;
}
.bread-crumbs__link {
  font-weight: 400;
  font-size: var(--font-size-14);
  line-height: 127%;
  color: #c4c4c4;
}
.mb-60 {
  margin-bottom: 60px;
}
.page-product__title {
  font-weight: 500;
  font-size: var(--font-size-35);
  line-height: 120%;
  color: #424242;
}
.page-product__bread-crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
.page-product__descr-title {
  margin-top: 0;
}
.page-product__descr-title,
.page-product__item span {
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  color: #424242;
  margin-bottom: 10px;
}
.page-product__text {
  font-weight: 400;
  font-size: var(--font-size-16);
  line-height: 130%;
  color: #424242;
  margin: 10px 0 10px 0;
}
.page-product__item {
  padding: 15px 0 10px 0;
  border-bottom: 1px solid #d0d0d0;
}
.page-product__wrapper {
  padding: 30px 25px;
}
.page-product__img {
  height: 100%;
  width: auto;
  -webkit-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
}
.page-product__wrapper-img {
  overflow: hidden;
  border-radius: 10px;
}
.page-product__wrapper-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 40px;
}
.page-product__form-title {
  font-weight: 500;
  font-size: var(--font-size-30);
  line-height: 120%;
  color: #424242;
  margin: 0;
  margin-bottom: 30px;
}
.page-product__wrappe-video .product-video {
  height: 410px;
  border-radius: 10px;
}
#form-product__name,
#form-product__tel,
#form-product__textarea {
  height: 65px;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  font-weight: 300;
  font-size: var(--font-size-16);
  line-height: 130%;
  color: #c6c6c6;
  padding: 20px 25px;
  width: 100%;
}
#form-product__name,
#form-product__tel,
#form-product__textarea {
  margin-bottom: 20px;
}
.form-product__btn {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #e93d2c;
  -webkit-box-shadow: 0 4px 4px rgba(233, 61, 44, 0.2);
  box-shadow: 0 4px 4px rgba(233, 61, 44, 0.2);
  color: #fff;
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  padding: 18px 25px;
}
.form-product__btn:hover {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: red;
  color: #fff;
  cursor: pointer;
}
.page-store__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 120%;
  color: #424242;
  margin-bottom: 50px;
}
.page-comment__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 120%;
  color: #424242;
  margin-bottom: 30px;
}
.page-comment__text {
  font-weight: 400;
  font-size: var(--font-size-20);
  line-height: 139%;
  color: #424242;
  margin-bottom: 40px;
}
.card-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}
.card-comment > :not(:last-child) {
  margin-bottom: 40px;
}
.card-comment__img {
  width: 116px;
  height: 116px;
  border-radius: 50%;
}
.card-comment__name {
  font-weight: 600;
  font-size: var(--font-size-20);
  line-height: 139%;
  color: #424242;
}
.card-comment__descr {
  max-width: 165px;
  font-weight: 400;
  font-size: var(--font-size-18);
  line-height: 139%;
  text-align: center;
  color: #e93d2c;
}
.card-comment__client-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card-comment__comment {
  position: relative;
  font-weight: 400;
  font-size: var(--font-size-18);
  line-height: 139%;
  color: #424242;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: -10px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: -10px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.card-comment--revers .card-comment__comment {
  -webkit-box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.05);
}
.card-comment__comment::before {
  content: "";
  position: absolute;
  left: -28px;
  bottom: 28px;
  border: 20px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  border-right: 28px solid #fff;
}
.card-comment--revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.card-comment--revers .card-comment__comment::after {
  content: "";
  position: absolute;
  right: -28px;
  bottom: 28px;
  border: 20px solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 0 solid transparent;
  border-left: 28px solid #fff;
}
.page-production__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 120%;
  color: #424242;
  margin: 50px 0 40px 0;
}
.page-production__text {
  font-weight: 400;
  font-size: var(--font-size-20);
  line-height: 139%;
  color: #424242;
  margin-bottom: 45px;
}
.power {
  margin-bottom: 80px;
}
.power__title {
  display: block;
  font-weight: 500;
  font-size: var(--font-size-60);
  line-height: 120%;
  color: #e93d2c;
  border-bottom: 1px solid #d0d0d0;
}
.power__text {
  font-weight: 400;
  font-size: var(--font-size-18);
  line-height: 130%;
  color: #424242;
}
.card-equipment {
  margin-bottom: 60px;
}
.row .card-equipment__title {
  font-weight: 500;
  font-size: var(--font-size-35);
  line-height: 120%;
  color: #424242;
  margin-bottom: 30px;
  display: inline-block;
}
img.card-equipment__img {
  border-radius: 10px;
  padding: 0;
  -o-object-fit: contain;
  object-fit: contain;
}
.description-equipment {
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 30px;
}
.description-equipment__title {
  font-weight: 600;
  font-size: var(--font-size-20);
  line-height: 139%;
  color: #424242;
}
.description-equipment__text {
  font-weight: 400;
  font-size: var(--font-size-20);
  line-height: 139%;
  color: #424242;
}
.description-equipment__item {
  font-weight: 400;
  font-size: var(--font-size-20);
  line-height: 139%;
  color: #424242;
}
.description-equipment__list,
.career-block__list {
  list-style-type: none;
}
.description-equipment__item::before,
.career-block__item::before {
  content: "\00B7";
  margin-right: 15px;
}
.career-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-certificates__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 120%;
  color: #424242;
  margin: 50px 0 40px 0;
}
.card-certificat {
  position: relative;
  gap: 30px;
  margin-bottom: 30px;
}
.card-certificat__img {
  -webkit-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
}
.card-certificat__btn {
  display: block;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  background-color: #d0d0d0;
  border-radius: 50%;
  border: none;
  background-image: url(assets/img/svg/icon_search-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}
.career-block__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 120%;
  color: #424242;
  margin: 50px 0 30px 0;
}
.career-block__item {
  font-weight: 400;
  font-size: var(--font-size-20);
  line-height: 130%;
  color: #424242;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-career__career-block {
  margin-bottom: 20px;
}
.vacancies__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 120%;
  color: #424242;
  margin-bottom: 40px;
}
.card-vacancie {
  margin-bottom: 60px;
}
img.card-vacancie__img {
  border-radius: 10px;
  padding: 0;
  -o-object-fit: contain;
  object-fit: contain;
}
.card-vacancie__title {
  font-weight: 500;
  font-size: var(--font-size-35);
  line-height: 120%;
  color: #e93d2c;
  margin: 0 0 30px 0;
}
.card-vacancie__wrapper {
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 30px;
}
.card-vacancie__card-title {
  display: inline-block;
  font-weight: 500;
  font-size: var(--font-size-25);
  line-height: 120%;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #424242;
  margin-bottom: 20px;
}
.card-vacancie__item span {
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  color: #424242;
}
.card-vacancie__item {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #d0d0d0;
}
.card-vacancie__list {
  margin-bottom: 20px;
}
.card-vacancie__btn {
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid #e93d2c;
  color: #e93d2c;
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  padding: 15px 30px;
}
.page-contacts__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 120%;
  color: #424242;
  margin-bottom: 40px;
}
.offece-info {
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 30px;
  min-width: 280px;
}
.offece-info__title {
  font-weight: 500;
  font-size: var(--font-size-35);
  line-height: 120%;
  color: #e93d2c;
  margin-bottom: 25px;
  display: inline-block;
}
.offece-info__item span {
  font-weight: 600;
  font-size: var(--font-size-18);
  line-height: 120%;
  color: #424242;
  margin-right: 10px;
}
.offece-info__item address {
  display: inline;
  font-style: normal;
}
.offece-info__item {
  font-weight: 400;
  font-size: var(--font-size-18);
  line-height: 120%;
  color: #424242;
}
.offece-info__list > :not(:last-child) {
  margin-bottom: 20px;
}
.horeca__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.horeca__title {
  font-weight: 500;
  font-size: var(--font-size-50);
  line-height: 120%;
  color: #424242;
  margin-bottom: 40px;
}
.horeca__text,
.stap-partner__text,
.accordion-questions__text {
  font-weight: 400;
  font-size: var(--font-size-20);
  line-height: 139%;
  color: #424242;
  margin-bottom: 20px;
}
.horeca__wrapper {
  margin-bottom: 40px;
}
.horeca__btn {
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  text-align: center;
  color: #e93d2c;
  background-color: #fff;
  border: 1px solid #e93d2c;
  border-radius: 10px;
  display: block;
  padding: 18px 30px 18px 80px;
  width: 100%;
  cursor: pointer;
  background: url(assets/img/svg/download-icon.svg) no-repeat center left 40px;
  text-align: left;
}
.horeca__btn:hover,
.card-vacancie__btn:hover {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: rgba(128, 128, 128, 0.116);
  color: red;
  text-decoration: none;
}
img.horeca__bg {
  padding: 0;
  border-radius: 10px;
}
.partner__title {
  font-weight: 500;
  font-size: var(--font-size-35);
  line-height: 120%;
  color: #424242;
  margin-bottom: 40px;
}
.stap-partner {
  background: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.stap-partner__header {
  background: #ededed;
  border-radius: 10px;
  padding: 13px;
}
.stap-partner__title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 139%;
}
.stap-partner__title span {
  color: #e93d2c;
  margin-right: 7px;
  display: block;
}
.stap-partner__bottom {
  height: auto;
  padding: 19px 30px 30px 30px;
}
.stap-partner__text {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: var(--font-size-16);
  line-height: 139%;
  color: #424242;
}
.stap-partner__btn {
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  text-align: center;
  color: #fff;
  background-color: #e93d2c;
  border: none;
  -webkit-box-shadow: 0 4px 4px rgba(233, 61, 44, 0.2);
  box-shadow: 0 4px 4px rgba(233, 61, 44, 0.2);
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}
.stap-partner--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.stap-partner--center .stap-partner__header {
  background-color: #fff;
}
.partner__steps {
  margin-bottom: 60px;
}
.partner-advantage {
  background: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 25px 30px 12px 30px;
}
.partner-advantage__item {
  margin-bottom: 20px;
}
.partner-advantage__title {
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 139%;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  margin-top: 0;
}
.partner-advantage__text {
  font-weight: 400;
  font-size: var(--font-size-16);
  line-height: 139%;
  color: #424242;
}
.partner-advantage__title span {
  background-color: #e93d2c;
  padding: 9px 9px;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 45px;
  min-width: 45px;
  text-align: center;
  margin-right: 14px;
}
.questions__title {
  font-weight: 500;
  font-size: var(--font-size-35);
  line-height: 120%;
  color: #424242;
  margin-bottom: 30px;
}
.accordion-questions {
  background: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;
  cursor: pointer;
}
.accordion-questions:not(:last-child) {
  margin-bottom: 20px;
}
.accordion-questions__title {
  font-weight: 500;
  font-size: var(--font-size-25);
  line-height: 139%;
  color: #424242;
}
.accordion-questions__title:hover {
  color: red;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.accordion-questions__text {
  font-weight: 400;
  font-size: var(--font-size-20);
  line-height: 139%;
  color: #424242;
  margin: 0;
  opacity: 0;
  max-height: 0;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: default;
}
.accordion-questions__text.accordion-open {
  display: block;
  opacity: 1;
  margin-top: 20px;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.accordion-questions__wrapper {
  position: relative;
}
.accordion-questions__btn {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 30px;
  height: 0;
  font-weight: 300;
}
.accordion-questions__btn::before {
  content: "\002B";
  font-size: 50px;
  color: #d0d0d0;
  position: absolute;
  top: calc(50% - 16px);
  right: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.accordion-open .accordion-questions__btn {
  position: absolute;
  width: 25px;
  right: 13px;
  top: calc(50% - 22px);
  width: 45px;
  height: 45px;
  border: none;
  background: rgba(233, 61, 44, 0.19);
  border-radius: 50%;
}
.accordion-open .accordion-questions__btn::before {
  content: "\002B";
  position: absolute;
  right: 8px;
  top: calc(50% - 14px);
  font-size: 40px;
  color: #424242;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.page-404 {
  padding: 100px 0 100px 0;
}
.page-404__wrapper {
  position: relative;
}
.page-404__wrapper::before {
  content: url(assets/img/page-404/chebureck.png);
  position: absolute;
  right: -150px;
  top: 50px;
}
.page-404__title {
  font-weight: 500;
  font-size: var(--font-size-100);
  line-height: 120%;
  text-align: center;
  color: #424242;
  margin-bottom: 23px;
  position: relative;
}
.page-404__title::before {
  content: url(assets/img/page-404/pelmen.png);
  position: absolute;
  top: -30px;
  left: 70px;
}
.page-404__text {
  position: relative;
  font-weight: 400;
  font-size: var(--font-size-20);
  line-height: 152%;
  text-align: center;
  color: #424242;
  margin-top: 0;
  margin-bottom: 34px;
}
.page-404__text::before {
  content: url(assets/img/page-404/pirog.png);
  position: absolute;
  top: 30px;
  left: -190px;
}
.page-404__link-btn {
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: 130%;
  text-align: center;
  color: #fff;
  padding: 17px 30px;
  background-color: #e93d2c;
  -webkit-box-shadow: 0 4px 4px rgba(233, 61, 44, 0.2);
  box-shadow: 0 4px 4px rgba(233, 61, 44, 0.2);
  border-radius: 10px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100%;
  height: 100%;
  outline: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.popup.activ {
  height: 100%;
  visibility: visible;
  opacity: 1;
}
.popup__content {
  position: relative;
  margin: 100px auto 100px auto;
  max-width: 688px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.popup__close {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 45px;
  height: 45px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgb(0 0 0 / 5%);
  box-shadow: 4px 4px 10px rgb(0 0 0 / 5%);
  border-radius: 50%;
  right: 20px;
  top: 15px;
}
.popup__close:hover {
  background-color: #e0e0e0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.popup__close:hover::after {
  color: red;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.popup__close::after {
  content: "\2716";
  position: absolute;
  right: 0;
  top: 13px;
  width: 45px;
  height: 45px;
  color: #424242;
}
.kb_title {
  display: none;
}
.wrap-form {
  padding: 80px 50px;
  display: none;
}
.popup.activ .wrap-form {
  display: block;
}
@media (max-width: 768px) {
  .wrap-form {
    padding: 70px 20px;
  }
  .horeca__btn {
    padding: 15px 22px 15px 52px;
    background-position: center left 12px;
  }
  .stap-partner__header {
    padding: 6px 51px 6px 51px;
  }
  .stap-partner__title span {
    display: inline;
  }
  .stap-partner__bottom {
    padding-left: 16px;
    padding-right: 16px;
  }
  .partner-advantage {
    padding-left: 10px;
    padding-right: 10px;
  }
  .accordion-questions__title {
    font-size: var(--font-size-18);
    margin-bottom: 20px;
  }
  .accordion-questions__text {
    font-size: var(--font-size-16);
  }
  .card-comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-equipment__revers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .career-block__item {
    margin-bottom: 10px;
    font-size: var(--font-size-16);
  }
  .card-vacancie {
    margin-bottom: 50px;
    min-width: 278px;
  }
  .vacancies__title {
    font-size: var(--font-size-25);
    margin-bottom: 20px;
  }
  .card-vacancie__title,
  .offece-info__title {
    margin-bottom: 15px;
    font-size: var(--font-size-20);
  }
  .card-vacancie__card-title {
    font-size: var(--font-size-18);
  }
  .card-vacancie__wrapper {
    padding: 20px 14px;
    margin-bottom: 15px;
  }
  .offece-info__list .offece-info__item,
  .offece-info__item span,
  .offece-info__item address {
    font-size: var(--font-size-16);
    margin-bottom: 15px;
  }
  .page-product__form {
    margin-bottom: 50px;
  }
  .page-product__wrapper-form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .page-contacts__title {
    margin-bottom: 20px;
  }
  .offece-info {
    padding: 20px 15px;
  }
  .power {
    margin-bottom: 15px;
  }
  .page-production__text {
    margin-bottom: 30px;
  }
  .row .card-equipment__title {
    margin-top: 50px;
  }
}
